# standard python stuff
__pycache__/
*.py[cod]
.env/
.venv/
env/
venv/

# packging
.coverage
.eggs
*.egg-info/
build/
dist/

# VSCode
.vscode/
*.code-workspace

# IntelliJ
*.iml
.idea/

# OS X
.DS_Store

# sphinx output
docs/_build/

# Vagrant
r-client/.vagrant/

# Emacs
*~
