/* sidebar structure */


.wy-side-nav-search {
    background-color: #ffffff;
}

.wy-menu-vertical a {
    color: #404040;
    padding: .6em 1.618em;
}

.wy-nav-side {
    background: #ffffff;
}

.wy-nav-content {
    border-left: 2px #EEEEF1 solid;
    max-width: 800px;
}

/* inner structure of sidebar */

.wy-menu-vertical li.on a, .wy-menu-vertical li>a,  .wy-menu-vertical li.current>a{
  padding: .6em 1.618em;
}

.wy-menu-vertical li.toctree-l2>a, .wy-menu-vertical li.toctree-l2.current>a {
  padding: .6em 3.2em;
}

.wy-menu-vertical li.toctree-l2 a {
  font-size: 13px;
}


.wy-menu-vertical li.toctree-l1 > a {
    font-size: 15px;
    color: #555558;
}



.wy-menu-vertical li.toctree-l2 li.toctree-l3>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  padding: .6em 4.4em;
}

/* inner content of sidebar */
.reference.internal {
  text-decoration: none;
}

.wy-menu-vertical p.caption {
  border-top: 1px solid #eeeef1;
  font-size: 15px;
  font-weight: 500;
  color: #555558;
  text-transform: none;
}

.wy-menu-vertical a, .wy-menu-vertical a:hover {
  font-weight: 400;
  line-height: 13px;
  color: #555558;
  background: #fff;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
  color: #555558;
}

.wy-menu-vertical li.on a:hover,
.wy-menu-vertical li.current a:hover {
  background: #fff;
}

.wy-menu-vertical li.toctree-l1>a {
  line-height: 14px;
}
.wy-menu-vertical li.toctree-l1.current>a {
    border:none;
    /* font-size: 14px; */
    line-height: 14px;
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: #fff;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #fff; 
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background: #fff;
}

.wy-side-nav-search input[type=text] {
    font-family: Roboto,Arial,sans-serif;
    border-color: #eeeef1;
    border-radius: 3px;
    background-color: #eeeef1;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    display: table-cell;
}

.wy-side-nav-search>a.icon img.logo, .wy-side-nav-search .wy-dropdown>a.icon img.logo {
    margin-left: 0;
    margin-top: 0;
    width: 180px;
    margin-bottom: 24px;
}

.wy-breadcrumbs {
    font-family: Roboto,Arial,sans-serif;
}

.rst-breadcrumbs-buttons {
    display: none;
}

.rst-footer-buttons {
    display: none;
}

.rst-content dl:not(.docutils) dt {
    color: #3C96BA;
    font-family: Roboto,Arial,sans-serif;
    border-top: solid 3px #3C96BA;
    background: rgba(60,150,186,0.15);
}

.rst-content .viewcode-link, .rst-content .viewcode-back {
    color: #e31b37;
}

.highlight .kn {
    color: #FF0079 !important;
}

.highlight .s1 {
    color: #76B166 !important;
}

.highlight .kc {
    color: #4AC6AA !important;
}

.highlight .n {
    color: #444447 !important;
}

.highlight .mi {
    color: #EB904B !important;
}

.highlight .gp {
    color: #000003 !important;
}

.highlight .nn {
    color: #322285 !important;
}

.highlight .s2 {
    color: #e31b37 !important;
}

#search-results .context {
    font-family: Roboto,Arial,sans-serif;
}

.rst-content .highlighted {
    font-family: Roboto,Arial,sans-serif;
}

footer {
    font-family: Roboto,Arial,sans-serif;
    font-size: 0;
}

footer p{
    font-weight:400;
    color: #9b9b9e;
    font-size: 12px;
}

footer a {
    display: none;
}

#text {
    display: none;
}

/* Make method links like :meth:`~.get_data_points` not tiny */
code, .rst-content tt, .rst-content code {
    font-size: 100% !important;
}

/* hide branches from version switcher */
.rst-other-versions dl:last-child {
    display: none;
}

.caption-text {
    font-family: Roboto,Arial,sans-serif;
    font-weight:500;
    font-size: 12px;
    color: #9b9b9e;
    line-height: 14px;
    text-transform: capitalize;
}

.current {
    font-family: Roboto,Arial,sans-serif;
    font-weight:400;
    font-size: 13px;
    color: #555558;
    line-height: 13px;
    background: #fff;
}

.wy-menu-vertical li.current>a,
.wy-menu-vertical li.on a:hover, 
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand,
.wy-menu-vertical li.on a span.toctree-expand,
.wy-menu-vertical li.on a:hover span.toctree-expand, 
.wy-menu-vertical li.current>a span.toctree-expand
.wy-menu-vertical li.current>a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand,
.wy-menu-vertical a:hover span.toctree-expand,
.wy-menu-vertical a span.toctree-expand {
  color: #555558;
}


.wy-menu-vertical li.toctree-l1 a,
.wy-menu-vertical li.toctree-l1.current a {
  font-weight: 400;
}

.wy-menu-vertical li.toctree-l1 > a,
.wy-menu-vertical li.toctree-l1.current > a {
  font-weight: 500;
}




.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
  background: #fff;
}
/* a:hover.reference.internal {
    color: #e31b37;
} */

.fa:before, .wy-menu-vertical li span.toctree-expand:before, .wy-menu-vertical li.on a span.toctree-expand:before, .wy-menu-vertical li.current>a span.toctree-expand:before, .rst-content .admonition-title:before, .rst-content h1 .headerlink:before, .rst-content h2 .headerlink:before, .rst-content h3 .headerlink:before, .rst-content h4 .headerlink:before, .rst-content h5 .headerlink:before, .rst-content h6 .headerlink:before, .rst-content dl dt .headerlink:before, .rst-content p.caption .headerlink:before, .rst-content table>caption .headerlink:before, .rst-content .code-block-caption .headerlink:before, .rst-content tt.download span:first-child:before, .rst-content code.download span:first-child:before, .icon:before, .wy-dropdown .caret:before, .wy-inline-validate.wy-inline-validate-success .wy-input-context:before, .wy-inline-validate.wy-inline-validate-danger .wy-input-context:before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context:before, .wy-inline-validate.wy-inline-validate-info .wy-input-context:before {
}

.fa-minus-square-o::before, 
.wy-menu-vertical li.on a span.toctree-expand::before, 
.wy-menu-vertical li > a span.toctree-expand::before,
.wy-menu-vertical li span.toctree-expand::before {  
  font-family: "Entypo" !important;
  vertical-align: top;
  content: "\e63d"; /* */
}

.wy-menu-vertical li.current > a span.toctree-expand::before{
  content: "\e63b"; /* down should be on current only*/   
}




.icon-chevron-down:before {
  content: ;
}
.icon-chevron-left:before {
  content: "\e63c";
}
.icon-chevron-right:before {
}
.icon-chevron-up:before {
  content: "\e646";
}

