@import 'theme.css';
h1 {
    font-family: Roboto,Arial,sans-serif;
    font-weight:300;
    font-size: 48px;
    color: #444447;
    line-height: 48px;
}

h2 {
    font-family: Roboto,Arial,sans-serif;
    font-weight:300;
    font-size: 32px;
    color: #444447;
    line-height: 36px;
}

h3 {
    font-family: Roboto,Arial,sans-serif;
    font-weight:500;
    font-size: 18px;
    color: #666669;
    line-height: 21px;
}

p {
    font-family: Roboto,Arial,sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #666669;
    line-height: 28px;
}

a {
    font-family: Roboto,Arial,sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #E31B37;
    line-height: 28px;
    text-decoration: underline;
    
}


.wy-side-nav-search {
    background-color: #ffffff;
}

.wy-menu-vertical a {
    color: #404040;
}

.wy-menu-vertical a:hover {
    color: #d9d9d9;
}

.wy-nav-side {
    background: #ffffff;
}

.wy-nav-content {
    border-left: 2px #EEEEF1 solid;
}
