@import 'theme.css';

.wy-side-nav-search {
    background-color: #ffffff;
}

.wy-menu-vertical a {
    color: #404040;
}

.wy-menu-vertical a:hover {
    color: #d9d9d9;
}

.wy-nav-side {
    background: #ffffff;
}

.wy-nav-content {
    border-left: 2px #EEEEF1 solid;
}